body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #64624a;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-section, .right-section {
    flex-basis: 45%;
}

.left-section {
    order: 1;
}

.right-section {
    order: 2;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    clear: both;
}